<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
            <directory>includes/models</directory>
            <directory>includes/handlers</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="var/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="var/coverage.txt"/>
        </report>
    </coverage>

</phpunit>
