# Prevent PHP/script execution in this directory – only images should be served
Options -Indexes -ExecCGI
<IfModule mod_php5.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
AddType application/octet-stream .php .php3 .php4 .php5 .phtml .pHtml
